body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: #48344D 0 1px;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p { width: 100%; text-align: center; }
  p:last-child { margin-bottom: 0; }
}
