.side-shadow-border {
  @include box-shadow(lighten($sidebar-bg, 5) 0 1px);
}
aside.sidebar {
  background: url("/images/fabric_plaid.png");
  overflow: hidden;
  color: $sidebar-color;
  text-shadow: lighten($sidebar-bg, 8) 0 1px;
  a { @extend .force-wrap; }
  section {
    @extend .sans;
    font-size: .8em;
    line-height: 1.4em;
    margin-bottom: 1.5em;
    h1 {
      margin: 1.5em 0 0;
      padding-bottom: .2em;
      border-bottom: 1px solid $sidebar-border;
      @extend .side-shadow-border;
      + p {
        padding-top: .4em;
      }
    }
  }
  img {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box($border: #fff .3em solid);
  }
  ul {
    margin-bottom: 0.5em;
    margin-left: 0;
  }
  li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    border-bottom: 1px solid $sidebar-border;
    @extend .side-shadow-border;
    p:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: inherit;
    @include transition(color .5s);
  }
  &:hover a {
    color: $sidebar-link-color;
    &:hover { color: $sidebar-link-color-hover; }
  }
  .collapse-sidebar & {right: 0px;
top: 0px;}
}
.aside-alt-link {
  color: $sidebar-link-color-subdued;
  &:hover {
    color: $sidebar-link-color-subdued-hover;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    right: 17px; top: -10px;
    position: relative;
    @include box-shadow(black 0px 0px 23px -6px);
    z-index: 2;
  }
  .toggle-sidebar {
    z-index:0;
    outline: none;
    font-size: 13px;
    position: absolute; right: 16px; top: 0px; bottom: 0;
    display: inline-block;
    text-decoration: none;
    // color: mix($text-color-light, $sidebar-bg);
    color: rgb(105, 70, 70);
    width: 9px;
    cursor: pointer;
    &:hover {
      // background: hsla(10,10%,70%,.4);
      // @include background(linear-gradient(left, rgba($sidebar-border, .5), rgba($sidebar-border, 0)));
    }
    &:after {
      position: absolute; right: 0px; top: 30px;
      width: 30px;
      font-size: 3em;
      line-height: 1.3em;
      padding-bottom: .15em;
      @include border-left-radius(.3em);
      border-left: 1px solid darken(#C0D8C4,17%);
      @include box-shadow(0px 1px 1px 0px rgba(16, 41, 7, 0.5));
      text-align: center;
      background: hsl(130,24%,80%);
      content: "\00BB";
      text-indent: 1px;
    }
    .collapse-sidebar & {
      text-indent: 0px;
      right: -20px;
      width: 19px;
      &:hover {
        // background: rgba(146, 74, 74, 0.51);
        // @include box-shadow( rgba(146, 74, 74, 0.51) 0px 0px 12px 8px );
      }
      &:after {
        top: 9px;
        left: -1px;
        width: 32px;
        border-left: 0;
        border-top: 1px solid $article-outer-border;
        border-right: 1px solid $article-outer-border;
        border-bottom: 1px solid $article-outer-border;
        color: rgb(105, 70, 70);
        @include border-radius(0em);
        @include border-right-radius(.3em);
        text-shadow: rgba(255, 255, 255, 0.53) 0 1px;
        content: "\00AB";
        text-align: center;
        text-indent: 0;
        background: $article-border;
      }
    }
  }
}
