// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "compass";
html {
  background-image: url("/images/type.png");
}

body {
  background: url("/images/strange_bullseyes.png");
  border-left: 5px solid #3E6F68;
  border-right: 5px solid #3E6F68;
  &:after {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  $experimental-support-for-svg: true;
  $transparency: .80;
  @include background-image(linear-gradient(left,
   hsl(10, 28%, 10%),
   hsl(20, 18%, 24%) 10%,
   hsl(80, 18%, 29%) 50%,
   hsl(50, 18%, 24%) 90%,
   hsl(310, 18%, 4%)
  ));;
  }
  &.collapse-sidebar {
    article {
      padding: 2em 4em 0em 3.5em !important;
    }
  }
}


article {
  border-bottom: 1px dotted gray;
  background-image: url('/images/husk.png');
  header {
    padding-top: 1.4em;
    p { color: #832E2E }
  }
  + section { background-image: url('/images/husk.png'); }
}





body > nav {
  li {
    padding: .6em !important;
    margin: 0px 15px;
    background-image: url("/images/leather.jpg");
    border-bottom: 1px solid lighten(#2D2B2A,60);
    a { padding: 0px .4em 0px .2em ; }
  }
}

body > header {
  h1 {
    font-family: courier;
    a:hover {
      color: lighten($title-color, 19%);
    }
  }
  h2 {
    font-family: courier;
  }
}


